$small-width: 768px;
$large-width: 1600px;
$small-height: 600px;
$medium-height: 800px;
$large-height: 900px;

/* responsive */

@mixin tablet {
  @media only screen and (max-width: $small-width) {
    @content;
  }
}

@mixin destop {
  @media only screen and (min-width: $small-width+1px) {
    @content;
  }
}

/* responsive with height*/

@mixin small {
  @media only screen and (max-width: $small-width)  {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $small-width+1px) and (max-width: $large-width) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large-width+1){
    @content;
  }
}

/* screen */
@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}


@mixin print {
  @media print {
    @content;
  }
}