a {
  @include font-size($large + 6);
  padding: 0 1.5*$gutter/2;
  @include tooltip;
  @include transition(all, 0.2s, ease);
  &:first-child {
    border-radius: $radius 0 0 $radius;
  }
  &:last-child {
    border-radius: 0 $radius $radius 0;
    border-right-width: 1px;
  }
  &:before {
    @include icon;
  }
  &.email {
    &:hover { color: $black; }
    &:before { content: 'm'; }
  }
  &.github {
    &:hover { color: $black; }
    &:before { content: 'g'; }
  }
  &.facebook {
    &:hover { color: #3B5998; }
    &:before { content: 'f'; }
  }
  &.slack {
    &:hover { color: #E4236F; }
    &:before { content: 's'; }
  }
  &.google {
    &:hover { color: #d64937; }
    &:before { content: 'p'; }
  }
  &.linkedin {
    &:hover { color: #0073b2; }
    &:before { content: 'l'; }
  }
  &.twitter {
    &:hover { color: #55acee; }
    &:before { content: 't'; }
  }
  &.weibo {
    &:hover { color: #E6132D; }
    &:before { content: 'w'; }
  }
  &.hn {
    &:hover { color: #FF4F01; }
    &:before {
      content: 'Y';
      font-weight: bold;
    }
  }
}