/* Eggshell */

$font: 'Roboto', Arial, "Hiragino Sans GB", "Microsoft YaHei",
"WenQuanYi Micro Hei", sans-serif;
$blue: #5399fc;
$black: #4d4d4d;
$light: #DBEAFF;
$white: #FFFFFF;

@import 'eggshell';
@import 'layout';
@import 'fonts';
@import 'animations';
/* Variables */

$width: 960px;
$code: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

/* Grayscale fix (see https://github.com/sass/libsass/issues/151#issuecomment-33536506) */

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

/* General */

body {
  letter-spacing: 0.4px;
  min-width: $gutter*16;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.wrapper {
  margin: 0 auto;
  max-width: $width;
  text-align: left;
  width: 90%;
}
code {
  font-family: $code;
}
.button, a.button {
  border-radius: 2*$gutter;
  border: 2px solid $blue;
  @include transition-property(background, border);
  @include transition-duration(0.2s);
  &:hover, &:focus {
    border-color: tint($blue, 10%);
  }
  &:active, &.active {
    border-color: shade($blue, 10%);
  }
}
input {
  letter-spacing: 0.4px;
}
input:not([type=submit]), textarea {
  border-color: $light;
  border-radius: 2*$gutter;
  &:hover, &:focus {
    background: #FFF;
    border-color: $light;
  }
}
@mixin halves($reverse: false) {
  @include box-sizing(border-box);
  width: 50%;
  @if $reverse true {
    &:nth-child(even) {
      float: right;
      padding: $gutter*3.5 0 0 $gutter*2;
    }
    &:nth-child(odd) {
      float: left;
      padding-right: $gutter*2;
    }
  }
  @else {
    &:nth-child(even) {
      float: left;
      padding-right: $gutter*2;
    }
    &:nth-child(odd) {
      float: right;
      padding-left: $gutter*2;
    }
  }
}

/* Header */

#header {
  background: $blue;
  @include clearfix;
  color: #FFF;
  height: 920px;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 1;
  @include medium {
    max-height: 800px;
  }
  @include small {
    max-height: 600px;
  }
  .menu {
    float: right;
    padding: 18px;
    position: relative;
    z-index: 1;
    a {
      border: 2px solid tint($blue, 30%);
      border-radius: 50%;
      color: tint($blue, 30%);
      display: block;
      height: $gutter*2;
      line-height: $gutter*2;
      text-align: center;
      width: $gutter*2;
      @include transition-property(border, color);
      @include transition-duration(0.2s);
      &:hover {
        border-color: #FFF;
        color: #FFF;
      }
    }
  }
  .hero {
    background: $blue;
    box-sizing: border-box;
    color: #FFF;
    height: 100%;
    padding-top: $gutter*4;
    // min-height: $gutter*20;
    .wrapper {
      margin: 0 auto;
      position: relative;
      text-align: center;
      z-index: 2;
      h1 {
        color: inherit;
        font-weight: normal;
        @include font-size($gigantic+4);
        line-height: 110%;
        margin-bottom: $gutter;
        &:before {
          @include icon;
          content: '0';
          display: block;
          @include font-size(80);
          line-height: 120%;
          margin-bottom: $gutter/2;
        }
        & + p {
          color: tint($blue, 90%);
          @include font-size($large);
          margin: 0;
        }
        @include medium{
          @include font-size(44);
          margin-bottom: $gutter/2;
          &:before {
            @include font-size(70);
          }
          & + p {
            @include font-size($larger);
          }
        }
        @include small {
          @include font-size(42);
          margin-bottom: $gutter/2;
          &:before {
            @include font-size(60);
          }
          & + p {
            @include font-size($larger);
          }
        }
      }
    }
    .parallax {
      bottom: 0px;
      height: 100%;
      position: absolute;
      width: 100%;
      .scene {
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        .layer {
          bottom: 0px;
          width: 100%;
          height: 100%;
          .city {
            bottom: 0px;
            background-position: center bottom;
            background-repeat: no-repeat;
            height: 100%;
            left: 50%;
            position: absolute;
            margin-left: -$width*0.9;
            width: $width*1.8;
            @include medium {
              margin-left: -$width*0.65;
              width: $width*1.3;
            }
            @include small {
              margin-left: -$width/2;
              width: $width;
            }
          }
          .cloud {
            background-repeat: no-repeat;
            background-size: contain;
            height: 100px;
            position: absolute;
            -webkit-animation: cloud 3s 0.1s infinite alternate cubic-bezier(0.455, 0.33, 0.515, 0.955);
            -moz-animation: cloud 3s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.415, 0.955);
            animation: cloud 3s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
            @include medium {
              width: 100px!important;
            }
            @include small {
              width: 70px!important;
            }
          }
          &:nth-child(1) {
            div {
              background-image: url('/images/parallax/layer2.png');
              background-size: contain;
            }
          }
          &:nth-child(2) {
            div {
              background-image: url('/images/parallax/layer3.png');
              background-size: contain;
            }
          }
          &:nth-child(3) {
            div {
              background-image: url('/images/parallax/layer1.png');
              background-size: contain;
            }
          }
          &:nth-child(4) {
            div {
              background-image: url('/images/parallax/cloud1.png');
              width: 148px;
              left: 10%;
              opacity: 0.6;
              top: 30%;
              -webkit-animation-duration: 2s;
              animation-duration: 2s;
              -moz-animation-duration: 2s;
            }
          }
          &:nth-child(5) {
            div {
              background-image: url('/images/parallax/cloud2.png');
              width: 147px;
              left: 20%;
              opacity: 0.4;
              top: 20%;
              -webkit-animation-duration: 3s;
              animation-duration: 3s;
              -moz-animation-duration: 3s;
            }
          }
          &:nth-child(6) {
            div {
              background-image: url('/images/parallax/cloud3.png');
              width: 162px;
              left: 80%;
              opacity: 0.5;
              top: 40%;
              -webkit-animation-duration: 4s;
              animation-duration: 4s;
              -moz-animation-duration: 4s;
            }
          }
        }
      }
    }
    .arrow {
      &.down {
        background: #fff;
        border-radius: 50%;
        bottom: $gutter*3.5;
        cursor: pointer;
        height: $gutter*2.5;
        position: absolute;
        left: 50%;
        margin-left: -$gutter;
        opacity: 0.8;
        width: $gutter*2.5;
        @include transition(all, 0.5s, ease);
        &:after {
          @include icon;
          content: 'd';
          color: $blue;
          @include font-size(20);
          left: $gutter*0.75;
          position: absolute;
          text-align: center;
          top: $gutter*0.75;
          width: $gutter;
          -webkit-animation: arrow 1s 0.1s infinite alternate cubic-bezier(0.455, 0.33, 0.515, 0.955);
          -moz-animation: arrow 1s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.415, 0.955);
          animation: arrow 1s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        &:hover {
          bottom: $gutter*3;
          box-shadow: rgba(0, 0, 0, 0.2) 0 3px $gutter/4 0;
          opacity: 0.9;
        }
        &:active {
          bottom: $gutter*3.5;
        }
      }
    }

  }
}

/* Content */

#content {
  .section {
    padding: 5*$gutter 0;
    @include tablet {
      padding: 3*$gutter 5%;
    }
  }
  .action {
    background: $light;
    .wrapper {
      color: $blue;
      text-align: center;
      h2 {
        color: $blue;
        font-weight: normal;
        @include font-size($large);
      }
      form * {
        display: inline-block;
        vertical-align: middle;
      }
      form {
        height: $gigantic*1px;
        margin-bottom: $gutter*3;
        .button, input:not([type=submit]) {
          border: 0;
          line-height: 180%;
          font-family: $font;
          font-size: inherit;
          padding: $gutter/2 1.5*$gutter;
        }
        .button {
          border-radius: 0 2*$gutter 2*$gutter 0;
          margin-left: -$gutter/4;
          @include tablet {
            @include font-size($small);
            padding: $gutter/2 $gutter/2;
            width: $gutter*4.5;
          }
        }
        input:not([type=submit]) {
          background: #FFF;
          border-radius: 2*$gutter 0 0 2*$gutter;
          color: $black;
          padding: $gutter/2 $gutter+5;
          width: $gutter*10;
          @include tablet {
            @include font-size($small);
            padding: $gutter/2 $gutter*0.75;
            width: $gutter*6.9;
          }
        }
        ::-webkit-input-placeholder {
          -webkit-backface-visibility: hidden;
          -webkit-transform-style: preserve-3d;
          -webkit-transform: translate3d(0, 0, 0);
        }
        [placeholder]:focus::-webkit-input-placeholder {
          @include transition(all, 0.2s, ease);
          @include transform(translate(5%, 0));
          opacity: 0;
        }
      }
    }
    .countdown {
      @include clearfix;
      text-transform: uppercase;
      span {
        display: inline-block;
        @include font-size($smaller);
        margin: 0 $gutter*2 $gutter/2 $gutter*2;
        text-align: center;
        width: $gutter*3.5;
        strong {
          color: $blue;
          display: block;
          font-weight: normal;
          @include font-size(46);
          line-height: 100%;
          margin: 0 auto $gutter/4;
        }
      }
      @include tablet {
        span {
          margin: 0 $gutter+5 $gutter/2 $gutter+5;
          width: $gutter*3;
          strong {
            @include font-size(36);
          }
        }
      }
    }
    .line {
      margin: $gutter*2 0 $gutter*2.5 0;
      width: $gutter*15;
      @include tablet{
        width: $gutter*13;
      }
    }
  }
  .info, .call {
    @include clearfix;
    .about, .map, .content, .speaker {
      @include halves;
      @include tablet {
        width: 100%;
        margin: 0px 0px $gutter 0px;
        padding: 0px!important;
      }
    }
    .about, .content {
      h2 {
        color: $blue;
        @include font-size($large+10);
        font-weight: normal;
        margin-bottom: $gutter*0.75;
        @include tablet {
          margin-bottom: $gutter/2;
          text-align: center;
        }
      }
      p {
        color: $black;
        @include font-size($normal);
        line-height: 180%;
      }
    }
    .map, .speaker {
      text-align: center;
      margin: 0px;
      img {
        max-width: $gutter*25;
        width: 100%;
      }
    }
  }
  .call {
    background: $blue;
    .content {
      h2, p {
        color: $white;
      }
      &:nth-child(even) {
        padding-top:0px;
      }
      a{
        &.button{
          background: #fff;
          border-radius: 5px;
          color: $blue;
          display: block;
          margin-top: $gutter/2;
          padding: $gutter/2;
          width: 140px;
          @include font-size($normal);
          @include tablet{
            margin: 0 auto;
          }
          &:hover{
            background: #EFEFEF;
          }
        }
      }
    }
  }
}

/* Footer */

#footer {
  border-top: 1px solid $light;
  @include font-size($smaller);
  padding: $gutter*1.5 0;
  text-align: center;
  a {
    margin: 0 $gutter*2;
    @include transition(all, 0.2s, ease);
  }
  @include tablet {
    @include clearfix;
    a {
      float: left;
      margin: 0px;
      width: 100%;
    }
  }
}

/* Call For Speakers */
.call-for-speakers {
  #header {
    .menu {
      a{
        &:hover{
          color: $blue;
          border-color: $blue;
        }
      }
    }
    .hero {
      background: #fff;
      color: $blue;    
      .wrapper {
        height: 100%;
        position: relative;
        .logo, .title {
          @include halves;
          @include tablet {
            width: 100%;
            margin: 0px 0px $gutter 0px;
            padding: 0px!important;
          }
        }
        .logo {
          left: 0px;
          margin-top: -230px;
          position: absolute;
          top: 50%;
          z-index: 1;
          &:before {
            @include icon;
            content: '0';
            display: block;
            @include font-size(180);
            line-height: 300px;
            margin-bottom: $gutter/2;
            @include tablet {
             @include font-size(100);
             line-height: 100px;
            }
          }
        }
        .title {
          height: 300px;
          position: absolute;
          padding-top: 0px;
          margin-top: -230px;
          right: 0px;
          top: 50%;
          text-align: left;
          @include tablet {
            padding-top: 130px!important;
            h1,p {
              text-align: center;
            }
          }
          &:nth-child(even) {
            padding-top: 50px;
          }
          h1 {
            line-height: 100%;
            &:before {
              content: '';
            }
          }
          h2 {
            color: $blue;
          }
          p {
            color: $blue;
          }
          .arrow {
              &.register{
              background: $blue;
              border-radius: 5px;
              color: #fff;
              cursor: pointer;
              display: block;
              margin-top: 50px;
              padding: $gutter/2;
              text-align: center;
              width: 140px;
              @include font-size($normal);
              @include tablet {
                 margin: 50px auto 0px auto;
              }
            }
          }
        }
      }
    }
  }
  #content {
    background: $blue;
    padding: $gutter*5 0;
    .wrapper{
      color: #fff;
      padding: 0 $gutter;
      max-width: 700px;
      p {
        line-height: 180%;
      }
    } 
  }
  #register {
    @include tablet {
      padding: 0 30px;
    }
  }
}


/* Social */
#social {
  background: #DBEAFF;
  padding: 50px 0;
}
.social {
  @include clearfix;
  @import '_social.scss';
}

/* Register Form */
.entry-container{
  .banner{
    display: none!important;
  }
}

