/* Eggshell */

$font: 'Roboto', Arial, sans;
$blue: #4E91FF;
$light: #DBEAFF;

@import 'eggshell';

/* Variables */

$width: 960px;
$code: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

/* Grayscale fix (see https://github.com/sass/libsass/issues/151#issuecomment-33536506) */

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

/* General */

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  max-width: $width;
  text-align: left;
  width: 90%;
}

code {
  font-family: $code;
}

/* Header */

#header {
  background: $blue;
  @include clearfix;
  color: #FFF;
  .menu {
    float: right;
  }
}

/* Content */

#content {
  .hero {
    background: $blue;
    color: #FFF;
    .wrapper {
      text-align: center;
    }
    h1 {
      color: inherit;
      & + p {
        margin: 0;
      }
    }
  }
  .section {
    padding: 2*$gutter 0;
  }
  .action {
    background: $light;
    form * {
      display: inline;
      vertical-align: middle;
    }
  }
  .social {
    @import '_social.scss';
  }
}

/* Footer */

#footer {
  border-top: 1px solid $light;
  @include font-size($small);
  padding: $gutter 0;
  .wrapper {
    text-align: center;
  }
}