<head>
  <meta charset='utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <title>{{ title }} | {{ site.name }}</title>

  <meta http-equiv='Content-Language' content='en'/>
  <meta name='keywords' content='{{ site.keywords | join(", ") }}{% if tags %}, {{ tags | join(", ") }}{% endif %}'/>
  {% if description %}<meta name='description' content='{{ description }}'/>
  {% elseif site.description %}<meta name='description' content='{{ site.description }}'/>{% endif %}
  
  <!-- Favicons -->
  {% include '_favicons.html' %}

  <!-- CSS -->
  <link href='/assets/styles.css?v=20150603'> rel='stylesheet' type='text/css'/>
</head>
