{% if locale == 'en' %}
{% set placeholder = 'Your email address' %}
{% set submit = 'Subscribe' %}
{% endif %}
{% if locale == 'zh' %}
{% set placeholder = '你的邮箱地址' %}
{% set submit = '订阅' %}
{% endif %}

<form action='http://wiredcraft.us2.list-manage1.com/subscribe/post?u=18eb8d6c34ad5d4e781541da9&amp;id=ce3898dd2e' method='post' target='_blank'>
  <div class='field'>
    <input type='email' value='' name='EMAIL' class='required email' placeholder='{{ placeholder }}'/>
  </div>
  <div class='field'>
    <input type='submit' value='{{ submit }}' name='subscribe' class='button'/>
  </div>
</form>