{% extends 'default.html' %}

{% block content %}
{% parent %}
<header class='header'>
  <section class='wrapper'>
    <h1>{{ title }}</h1>
    <p>{{ description | safe }}</p>
  </body>
</header>

<section class='section'>
  <div class='wrapper'>
    {% for post in blog %}
    <article class='item post'>
      <h2><a href='/{{ post.path }}'>{{ post.title }}</a></h2>
      <section class='meta'>
        {% for member in team %}
        {% if member.user == post.author %}{{ member.title }}{% endif %}
        {% endfor %}
        on <time datetime='{{ post.date | date(c) }}'>{{ post.date | date('F d, Y') }}</time>
      </section>
      {{ post.contents | safe }}
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
