<!doctype html>
<html lang='{{ locale }}'>
{% include 'partials/_head.html' %}
<body class='page-{{ path | default("front") }} call-for-speakers'>

  <header id='header'>
    <nav class='menu'>
      {% if locale == 'zh' %}<a href='/call-for-speakers-en'>EN</a>{% endif %}
      {% if locale == 'en' %}<a href='/call-for-speakers'>中文</a>{% endif %}
    </nav> 
    <header class='hero'> 
      <div class='wrapper'>
        <a class='logo' href='/'></a>
        <div class='title'>
          <h1>{{ event.title }}</h1>
          <h1>{{ event.subtitle }}</h1>
          <p>{{ event.details }}</p>
          <div class='arrow register button'>{{ register.arrow }}</div>
        </div>  
      </div>  
    </header>
  </header>

  <section id='content'>
    <div class='wrapper'>
      <p>{{ content.paragraph }}</p>
    </div> 
  </section>

  <section id='register'>
    <script src='https://jinshuju.net/f/as4lCT/embedded.js?banner=show&background=white&height=1089'></script>
  </section>
  <section id='social'>
    <nav class='social'>
      <a class='weibo' href='http://weibo.com/JSConfChina'><span>Weibo</span></a>
      <a class='twitter' href='http://twitter.com/jsconfcn'><span>Twitter</span></a>
      <a class='github' href='http://github.com/jsconfcn/ShenJS'><span>GitHub</span></a>
    </nav>
  </section>
  <footer id='footer'>
    {% include 'partials/_footer.html' %}
  </footer>

  <!-- JS -->
  <script src='/assets/scripts.js' type='text/javascript'></script>
  <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  {% if site.gauges %}{% include 'partials/_gauges.html' %}{% endif %}
	{% if site.ga %}{% include 'partials/_ga.html' %}{% endif %}
</body>
</html>
