<!doctype html>
<html lang='{{ locale }}'>
{% include 'partials/_head.html' %}
<body class='page-{{ path | default("front") }}'>

  <header id='header'>
    <nav class='menu'>
      {% if locale == 'zh' %}<a href='/en'>EN</a>{% endif %}
      {% if locale == 'en' %}<a href='/'>中文</a>{% endif %}
    </nav> 
    <header class='hero'>
      <div class='wrapper'>
        <h1>{{ event.title }}</h1>
        <p>{{ event.details }}</p>
      </div>
      <div id='parallax' class='parallax'>
        <ul id='scene' class='scene'>
          <li class='layer' data-depth='1.00'><div class='city'></div></li>
          <li class='layer' data-depth='0.80'><div class='city'></div></li>
          <li class='layer' data-depth='0.60'><div class='city'></div></li>
          <li class='layer' data-depth='0.40'><div class='cloud'></div></li>
          <li class='layer' data-depth='0.20'><div class='cloud'></div></li>
          <li class='layer' data-depth='0.30'><div class='cloud'></div></li>
        </ul>
      </div>
      <div class='arrow down'></div>
    </header>
  </header>

  <section id='content'>
    {% block content %}{{ contents | safe }}{% endblock %}
  </section>

  <footer id='footer'>
    {% include 'partials/_footer.html' %}
  </footer>

  <!-- JS -->
  <script src='/assets/scripts.js' type='text/javascript'></script>
  <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  {% if site.gauges %}{% include 'partials/_gauges.html' %}{% endif %}
	{% if site.ga %}{% include 'partials/_ga.html' %}{% endif %}
</body>
</html>
