{% extends 'default.html' %}

{% block content %}
{% parent %}

<header class='hero'>
  <div class='wrapper'>
    <h1>JSConf China</h1>
    <p>21th-22th Jun, 2015, Shenzhen, China</p>
  </div>
</header>

<section class='section action'>
  <div class='wrapper'>
    <div class='countdown'>
      <span class='days'><strong>50</strong> {{ time.days }}</span>
      <span class='hours'><strong>5</strong> {{ time.hours }}</span>
      <span class='minutes'><strong>23</strong> {{ time.minutes }}</span>
      <span class='seconds'><strong>43</strong> {{ time.seconds }}</span>
    </div>

    <h2>{{ subscribe.title }}</h2>

    {% include 'partials/_subscribe.html' %}

    <nav class='social'>
      <a class='weibo' href='http://weibo.com/JSConfChina'><span>Weibo</span></a>
      <a class='twitter' href='http://twitter.com/jsconfcn'><span>Twitter</span></a>
      <a class='github' href='http://github.com/jsconfcn/ShenJS'><span>GitHub</span></a>
    </nav>
  </div>
</section>

<section class='section info'>
  <div class='wrapper'>
    <div class='about'>
      <h2>{{ about.title }}</h2>
      <p>{{ about.content }}</p>
    </div>
    <div class='map'>
      <img src='http://lorempixel.com/g/400/200/'>
    </div>
  </div>
</section>

{% endblock %}