{% extends 'default.html' %}

{% block content %}

<header class='header'>
  <section class='wrapper'>
    <small class='meta'>
      {% for member in team %}
      {% if member.user == author %}{{ member.title }}{% endif %}
      {% endfor %}
      on <time datetime='{{ post.date | date(c) }}'>{{ date | date('F d, Y') }}</time>
    </small>
    <h1>{{ title }}</h1>
  </body>
</header>

<section class='section post'>
  <section class='wrapper'>
    {{ contents | safe }}

    <p class='social'>
      {% include 'partials/_social.html' %}
    </p>
  </section>
</section>

<footer class='section action'>
  <section class='wrapper'>
    <h2>Stay tuned</h2>
    <p>Register for our newsletter below or <a href='http://feeds.feedburner.com/devo/BQLM' class='rss'>subscribe to our RSS feed</a>.</p>
    {% include 'partials/_subscribe.html' %}
  </section>
</footer>

<!-- <footer class='section comments'>
  <section class='wrapper'>
    <h2>Comments</h2>
    {% include 'partials/_disqus.html' %}
  </section>
</footer> -->
{% endblock %}