@import "./basic.scss";

$divide-width : 1174px;

/* Section */
.stretch-full {
  .wrap {
    padding: 6.5rem 0px;
    .title {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
  }
}

/* HEADER */
.header {
  background: url('../img/header.png') no-repeat center -70px;
  background-size: cover;
  color: #fff;
  padding: 6rem 0px;
  position: relative;
  p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .logo {
    $width: 100px;
    background: url("../img/logo.png") no-repeat center center;
    background-size: contain;
    border-radius: 5px;
    height: $width;
    margin: 0 auto 25px;
    width: $width;
  }
  .main-button {
    margin: 15px auto;
    width: 180px;
  }
  .menu {
    $height: 50px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    bottom:0px;
    color: #333;
    padding: 10px 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 999;
    &.fixed {
      bottom: auto;
      position: fixed;
      top: 0px;
    }
    ul {
      display: block;
      text-align: center;
      @extend %clearFix;
      @media screen and (min-width: $divide-width) {
        margin:0 auto;
        width: $divide-width;
      }
      li{
        display: inline-block;
        a{
          display: block;
          height: $height;
          font-size: 0.9rem;
          line-height: $height + 4px;
          width: 120px;
          &.button {
            $button-height: 30px;
            font-size: 1rem;
            padding:2px 3px;
            height: $button-height;
            line-height: $button-height;
          }
        }
      }
    }
    .option {
      float: right;
      height: 100%;
      margin-right: 30px;
      text-align: center;
      width: 100%;
      @media screen and (min-width: $divide-width) {
        position: absolute;
        right: 0px;
        top: 9px;
        width: auto;
      }
      a{
        display: inline-block;
        font-size: 1.3rem;
        height: $height;
        line-height: $height;
        margin-left: 25px;
        &.social {
          position: relative;
          &:before {
            @extend %icon;
          }
          &.weibo {
            &:before {
              content: 'w'
            }
          }
          &.twitter {
            &:before {
              content: 't'
            }
          }
          &.github {
            &:before {
              content: 'g'
            }
          }
          span {
            background: $blue;
            border-radius: 2px;
            bottom: 90%;
            color: #FFF;
            font-size: 14px;
            left: 50%;
            line-height: 140%;
            opacity: 0;
            padding: 7.5px 15px;
            position: absolute;
            text-align: center;
            transform: translateX(-50%);
            transition-property: opacity, margin;
            transition-duration: 0.1s;
            visibility: hidden;
            white-space: nowrap;
            width: auto;
            z-index: 999;
            &:after {
              content: '';
              border-right: 5px solid transparent;
              border-bottom-color: $blue;
              border-top: 5px solid $blue;
              border-left: 5px solid transparent;
              bottom: -5px;
              left: 50%;
              position: absolute;
              transform: translateX(-50%);
            }
          }
          &:hover {
            color: $blue;
          }
          &:hover span {
            margin-bottom: 8px;
            opacity: 1;
            visibility: visible;
          }
        }
        &.language {

        }
      }
    }
  }
}

/* About */
.about {
  position: relative;
  $banner-height: 90px;
  .content {
    margin-top: 5rem;
  }
  .time-line {
    bottom: $banner-height;
    height: 100px;
    left: 0px;
    position: absolute;
    width: 100%;
    ul.chart {
      display: block;
      font-size: 0px;
      width: 100%;
      li{
        box-sizing: border-box;
        display: inline-block;
        font-size: 1rem;
        width:20%;
        background:yellow;
      }
    }
  }
  .banner {
    bottom: 0px;
    height: $banner-height;
    left:0px;
    position: absolute;
    width: 100%;
    & > div {
      box-sizing: border-box;
      color: #fff;
      height: 100%;
      text-align: center;
      a {
        display: block;
        font-size: 1.4rem;
        height: $banner-height;
        line-height: $banner-height;
        width: 100%;
      }
    }
    .left {
      background: #2770E7;
      float: left;
      width: 35%;
    }
    .right {
      background: #3395FF;
      float: right;
      width: 65%;
    }
  }
}
